@import 'tailwindcss';

@theme {
	--color-background: #121212;
	--color-foreground: #ededed;
}

body {
	background: var(--color-background);
	color: var(--color-foreground);
	font-family: Arial, Helvetica, sans-serif;
}

/* Hide scrollbar */
.scrollbar-hide {
	scrollbar-width: none;
	-ms-overflow-style: none;
}

.scrollbar-hide::-webkit-scrollbar {
	display: none;
}
