@import "tailwindcss";

:root {
  color-scheme: dark;
}

html,
body {
  background: #0e0b08;
  color: #f5ede1;
}

body {
  font-family:
    ui-sans-serif,
    system-ui,
    -apple-system,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial;
}
